*{
    font-family: 'Work Sans', sans-serif;
    
}
body{
    display: flex;
}
/* .navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #172B4C;
    height: 100vh;
    width: 250px;
    top: 0%;
    left: 0%;
    padding: 30px 10px;
    text-align: center;
}  
.navbar h3{
    font-size: 30px;
    color: rgb(212, 212, 212);
    margin-bottom: 100px;
}
.navbar p{
    font-size: 15px;
    align-self: center;
    width: 100%;
    color: rgb(207, 205, 205);
    line-height: 30px;

    border-radius: 10px;
    padding: 5px 10px;
}
.navbar p:hover{
    color: rgb(231, 227, 227);

}
*/
.welcome{
    width: 700px;
    height: 250px;
    background-color: aqua;
    transform: translateX(270px);
}