*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    /* display: none; */
}


.main {
    position: absolute;
    width: calc(100% - 286px); /* Adjust the width based on the sidebar width */
    height: 100vh;
    background-color: rgb(255, 255, 255);
    left: 286px; /* Initial position */
    top: 0px;
    padding: 25px 0px;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;
}

body.collapsed .main {
    left: 70px;
    width: calc(100% - 70px)/* Adjust the left position when sidebar is collapsed */
}
.main h2{
    font-weight: 600;
    font-size: 21px;
}
.heading{
    
    width: 100%;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 0px 40px;
    padding-bottom: 20px;
}
.products{
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    height: 90.2%;
    padding: 30px 70px;
}
.products input{
    outline: none;
    width: 35%;
    padding: 12px 20px;
    border-radius: 7px;
    border: 0.1px solid rgb(187, 186, 186);
}
.elements{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    
}
.elements button{
    padding: 10px 15px;
    border: none;
    width: 150px;

    border-radius: 9px;
    margin-left: 13px;
    background-color:white ;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
;
}
.elements button:hover{
    background-color:#2B2B2B ;
    color: white;
    cursor: pointer;
}

.table{
    margin-top: 45px;
    width: 100%;
    /* background-color: #2B2B2B; */
    height: 87%;
    color: rgb(62, 62, 62);
    overflow-y: auto;
    
}
.table::-webkit-scrollbar{
    width: 5px;
    /* background-color: #2B2B2B; */

}
/* Track */
.table::-webkit-scrollbar-track {
    background-color: #c4c4c4; /* Background color of the scrollbar track */
}

/* Handle */
.table::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
.table::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
th {
    text-align: center;

    font-size: 15.5px;
}
#productname{
    text-align: left;
}
.table td:first-child ,.table td:first-child input{
    text-align: left;
    left: 20px;
}
td {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 580;
}
th, td{
    border-top: 1px solid #ccc; /* Top border */
    border-bottom: 1px solid #ccc; /* Bottom border */
    padding-top: 15px ;
    padding-bottom: 15px;
    
}
td input{
    padding: 10px 5px;
    height: 10px;
    box-sizing: border-box;
    width: 100%;
}
/* #penicon{
    text-align: center;
    margin-left: -80px;
    width: 4%;
} */
.actionbtn{
    width: 60px;
    font-size: 13px;
    color: white;
    background-color: #2B2B2B;
    padding: 5px 8.5px;
    border: none;
    border-radius: 9px;
    border: 1px solid  #2B2B2B;
}

.actionbtn:hover{
    background-color: white;
    color: #2B2B2B;
}
.categorybox{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    position: absolute;
    width: 27%;
    background-color: white;
    height: 32%;
    top: 33.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 9px;
    border: 1px solid  #2B2B2B;
    padding-top: 17px;
    padding-bottom: 13px;
    vertical-align: middle;


}
.categorybox p{
    font-weight: 600;
    font-size:  17px;
    margin-bottom: 33px;
}
.categorybox input{
    height: 50px;
    text-align: center;
    width: 300px;
    margin-bottom: 30px;
    border: 1px solid  #696969;
    margin-bottom: 37px;
    font-size: 15px;


}
.categorybox button{
    
    width: 100px;
    font-size: 13px;
    color: white;
    background-color: #2B2B2B;
    padding: 8px 10px;
    border: none;
    border-radius: 9px;
    border: 1px solid  #2B2B2B;
}
.categorybox button:hover{
    color: #2B2B2B;
    background-color: white;
    cursor: pointer;
}
/* In products.css */
.hidden {
    display: none;
}

.highlight {
    background-color: #e2e0e0;
}
.saveBtn{
    width: 60px;
    font-size: 13px;
    color: white;
    background-color: #2B2B2B;
    padding: 5px 8.5px;
    border: none;
    border-radius: 9px;
    border: 1px solid  #2B2B2B;
}
.cancelBtn{
    width: 60px;
    font-size: 13px;
    color: white;
    background-color: #2B2B2B;
    padding: 5px 8.5px;
    border: none;
    border-radius: 9px;
    border: 1px solid  #2B2B2B;
}
.newProductBox{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;    /* text-align: center; */
    position: absolute;
    width: 50%;
    background-color: white;
    height: 55%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
    border: 1px solid  #2B2B2B;
    padding-top: 17px;
    padding-bottom: 13px;
    padding: 20px 40px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); Adjust shadow size and color as needed */

    
}
.show {
 /* Display when the 'show' class is added */
visibility: visible;
    opacity: 1;
}
.newProductBox p{
    text-align: center;
    font-weight: 600;
    font-size:  19px;
    margin-bottom: 45px;
}
.newProductBox label{
    font-size: 16px;
}
.alloptions{
    /* background-color: #2B2B2B; */
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 0px;
}
.options{
    width: 30%;
    /* background-color: #555; */
    height: 30%;
    display: flex;
    flex-direction: column;

}
.options input{
    margin-top: 10px;
    outline: none;
    width: 100%;
    padding: 12px 10px;
    border-radius: 7px;
    border: 0.1px solid rgb(172, 172, 172);
    text-transform: uppercase;
    font-size: 13px;

}
.options select{
    margin-top: 10px;
    outline: none;
    width: 100%;
    padding: 12px 10px;
    border-radius: 7px;
    border: 0.1px solid rgb(172, 172, 172);
    font-size: 13px;
}
select option{
    border-radius: 7px;
    border: 0.1px solid rgb(172, 172, 172);

}
.btndiv{
    transform: translateY(50px);
    /* background-color: #555; */
    width: 100%;
    text-align: center;
    justify-content: center;

}
.btndiv button{
    width: 100px;
    font-size: 14px;
    color: white;
    background-color: #2B2B2B;
    padding: 7px 20px;
    border: none;
    border-radius: 9px;
    border: 1px solid  #2B2B2B;
}
.btndiv button:hover{
    background-color: white;
    color: #2B2B2B;
    cursor: pointer;
}