body {
  padding: 50px;
  background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
*{
  font-family: 'Rubik';

}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #332D2D;
  width: 450px;
  height: 600px;
  border-radius: 15px;
  text-align: center;
  padding: 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 13px;
  display: flex;
  flex-direction: column;

}
.container h1{
  margin-top: 80px;
  color: rgb(193, 193, 193);
  font-size: 30px;
}
.container p{
  color: rgb(165, 165, 165);

}
.container input{
  margin-top: 22px;
  margin-bottom: 18px;
  justify-content: center;
  width: 80%;
  height: 35px;
  padding: 10px 15px;
  /* border: 1px solid rgb(120, 120, 120); */
  border: none;
  outline: none;
  background-color: #332D2D;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(56, 56, 56, 0.3);

}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
  margin-top: 20px;
  padding: 10px 15px;
  width: 40%;
  background-color: #332D2D;
  border: none;
  outline: none;
  color: white;
  box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(56, 56, 56, 0.3);
  border-radius: 10px;
  font-size: 15px;
  align-self: center;


}





#ERROR{
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 0px;
  color: rgb(200, 6, 6);
}
#pass{
  margin-bottom: 50px;
}